{% extends "Base.twig" %}

{%- block Header -%}
    {{ parent() }}
{% endblock %}

{%- block Container -%}
    <div class="FullWidth">
        <h1 class="Bold">{{ Game.server_title }} (PREVIEW)</h1>
        <hr>
    </div>
    <div class="LeftSide GamesPage">
        <div id="ItemThumbnail" style="height:280px; width: 500px; position: relative;">
            <div id="currentImage"><img onerror="if (this.src != '/get-asset/Games/Default.png') this.src = '/get-asset/Games/Default.png';" src="/get-asset/Games/{{ Game.id }}.png" height="280" width="500" border="0"></div>
            <div id="newImage" style="position: absolute; top: 0; left: 0; opacity: 0;"><img src="" height="280" width="500" border="0"></div>
        </div>
        <div id="divSmallGalleryItemBox">
            <div id="divSmallGalleryScrollContainer">
                <div class="divSmallGalleryItem SelectedYouTubeGalleryIcon">
                    <div class="smallGalleryThumbItem">
                        <a style="display:inline-block;height:70px;width:120px;cursor:pointer;"><img onerror="if (this.src != '/get-asset/Games/Default.png') this.src = '/get-asset/Games/Default.png';" src="/get-asset/Games/{{ Game.id }}.png"  height="70" width="120" border="0"></a>
                    </div>
                </div>
                <div class="divSmallGalleryItem">
                    <div class="smallGalleryThumbItem">
                        <a style="display:inline-block;height:70px;width:120px;cursor:pointer;"><img onerror="if (this.src != '/get-asset/Games/Default.png') this.src = '/get-asset/Games/Default.png';" src="/get-asset/Games/{{ Game.id }}_2.png" height="70" width="120" border="0"></a>
                    </div>
                </div>
                <div class="divSmallGalleryItem">
                    <div class="smallGalleryThumbItem">
                        <a style="display:inline-block;height:70px;width:120px;cursor:pointer;"><img onerror="if (this.src != '/get-asset/Games/Default.png') this.src = '/get-asset/Games/Default.png';" src="/get-asset/Games/{{ Game.id }}_3.png" height="70" width="120" border="0"></a>
                    </div>
                </div>
                <div class="divSmallGalleryItem">
                    <div class="smallGalleryThumbItem">
                        <a style="display:inline-block;height:70px;width:120px;cursor:pointer;"><img onerror="if (this.src != '/get-asset/Games/Default.png') this.src = '/get-asset/Games/Default.png';" src="/get-asset/Games/{{ Game.id }}_4.png" height="70" width="120" border="0"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="RightSide GamesPage">
        <div class="GameInfo">
            <img onerror="if (this.src != '/Images/Fallback.png') this.src = '/Images/Fallback.png';"  src="/get-asset/Avatars/{{ Author.id }}.png">
            {% if Session.Roblox == Game.server_owner %}
                <div class="dropdown">
                    <img src="/Images/Menu.png" style="height:unset;width:unset;filter: contrast(10);" onclick="dropdown()" class="Icon Right dropbtn">
                    <div id="editDropdown" class="dropdown-content">
                        <a href="/Edit/Game/{{ Game.id }}">Edit Game</a>
                        <a href="/API/Game/Delete/{{ Game.id }}">Delete Game</a>
                    </div>
                </div>
            {% endif %}
            <span class="BuilderInfo InlineBlock Bold Top">
                <span class="Bold">Builder:</span>
                <span class="AuthorLink"><a href="/User/{{ Author.roblox_username }}">{{ Author.roblox_username }}</a></span>
                <span class="Caption">Joined:  {{ Author.roblox_created|date('m/d/Y') }}</span>
            </span>
        </div>
        <hr>
        <div class="GameMetrics">
            <span class="CreationDate"><b>Created: </b> {{ Game.server_created|date('m/d/Y') }}</span>
            <span class="CreationDate"><b>Last Activity: </b> {{ Game.server_ping|timeago }}</span>
            <span class="CreationDate"><b>Favorited: </b> 0</span>
            <span class="CreationDate"><b>Visited: </b> 0</span>
            <span class="CreationDate"><b>Max Players: </b> ∞</span>
        </div>
        <hr>
        <p class="GameDescription">
            {{ Game.server_description|nl2br }}
        </p>
        <hr>
    </div>
    <div class="FullWidth">
        <form action="/API/Edit/Game/{{ Game.id }}" method="POST" enctype="multipart/form-data">
            <div class="LeftSide">
                <hr>
                <div class="TabGroup" style="margin-bottom: 10px;">
                    <div class="Tab Primary" style="margin-left: 30px;">
                        <a href="/Edit/Game/{{ Game.id }}">Basic Settings</a>
                    </div>
                    <div class="Tab">
                        <a href="/Edit/Game/{{ Game.id }}/Thumbnails">Thumbnails</a>
                    </div>
                    <div class="Tab">
                        <a href="/Edit/Game/{{ Game.id }}/Badges">Badges</a>
                    </div>
                </div>
                <div class="SignInForm">
                    <!--
                    <div class="FormField">
                        <span class="Middle">Server IP: <span class="Caption">Playit.gg IPs are supported.</span></span>
                        <input type="text" autocomplete="off" value="{{ Game.server_ip }}" name="ip" class="InputText InlineBlock">
                    </div>
                    <div class="FormField">
                        <span class="Middle">Server Port:</span>
                        <input type="number" name="port" value="{{ Game.server_port }}" class="InputText InlineBlock">
                    </div>
                    -->
                    <div class="FormField">
                        <span class="Middle">Game Category: </span>
                        <select name="category" style="width: 66%;" class="InputText InlineBlock">
                            {% for Category in Categories %}
                                {% if Game.server_category == Enum %}
                                    <option value="{{ Category }}" selected name="category" id="category">{{ Category }}</option>
                                {% else %}
                                    <option value="{{ Category }}" name="category" id="category">{{ Category }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="FormField">
                        <span class="Middle">Chat Type: </span>
                        <select name="chatstyle" style="width: 66%;" class="InputText InlineBlock">
                            {% for Enum in ChatEnum %}
                                {% if Game.server_chatstyle == Enum %}
                                    <option value="{{ Enum }}" selected name="chatstyle" id="category">{{ Enum }}</option>
                                {% else %}
                                    <option value="{{ Enum }}" name="chatstyle" id="category">{{ Enum }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="FormField">
                        <span class="Middle">Access Level: </span>
                        <select name="accesslevel" style="width: 66%;" class="InputText InlineBlock">
                            {% for Enum in AccessLevel %}
                                {% if Game.server_allowed == Enum %}
                                    <option value="{{ Enum }}" selected name="chatstyle" id="category">{{ Enum }}</option>
                                {% else %}
                                    <option value="{{ Enum }}" name="chatstyle" id="category">{{ Enum }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="FormField">
                        <span class="Middle">Place File: </span>
                        <input type="file" class="InputText" name="place">
                    </div>
                    <span class="Caption">Make sure your ports are forwarded correctly!</span>
                </div>
            </div>
            <div class="RightSide">
                <hr>
                <div class="TabGroup" style="visibility: hidden;margin-bottom: -8px;">
                    <div class="Tab" style="margin-left: 30px;">
                        <a href="/Edit/Game/{{ Game.id }}">Basic Settings</a>
                    </div>
                    <div class="Tab">
                        <a href="/Edit/Game/{{ Game.id }}/Thumbnails">Thumbnails</a>
                    </div>
                    <div class="Tab Primary">
                        <a href="/Edit/Game/{{ Game.id }}/Badges">Badges</a>
                    </div>
                </div>
                <hr>
                <div class="SignInForm">
                    <div class="FormField">
                        <span class="Middle">Game Title:</span>
                        <input type="text" name="title" value="{{ Game.server_title }}" class="InputText InlineBlock">
                    </div>
                    <div class="FormField">
                        <span class="Middle">Game Description: <br><span class="Caption">Make sure you describe your game well!</span></span>
                        <textarea type="text" style="width: 64%;" autocomplete="off" name="description" class="NoResize InputText InlineBlock">{{ Game.server_description }}</textarea>
                    </div>
                    <div class="FormField">
                        <span class="Middle">Max Players:</span>
                        <input type="number" name="maxplayers" value="{{ Game.server_max_players }}" class="InputText InlineBlock">
                    </div>
                    <input type="submit" class="SubmitButton Medium Green Right" value="Update Game">
                </div>
            </div>
        </form>
    </div>
    <script>
        // Thanks to Ham for the javascript

        var galleryItems = document.querySelectorAll('.divSmallGalleryItem');
        var currentIndex = 0;
        var autoIndex = true;

        function toggleAutoIndex() {
            autoIndex = !autoIndex;
        }

        function showImage(index) {
            var oldImage = document.querySelector('#ItemThumbnail img');
            var newImageSrc = galleryItems[index].querySelector('img').getAttribute('src');
            var newImage = document.querySelector('#newImage');
            var clickedItem = galleryItems[index];
            var imageDivs = document.querySelectorAll('.divSmallGalleryItem');
            for (var j = 0; j < imageDivs.length; j++) {
                imageDivs[j].classList.remove('SelectedYouTubeGalleryIcon');
            };
            clickedItem.classList.add('SelectedYouTubeGalleryIcon');

            newImage.querySelector('img').setAttribute('src', newImageSrc);
            newImage.style.opacity = 0;

            var opacity = 0;
            var fadeEffect = setInterval(function () {
                opacity += 0.1;
                newImage.style.opacity = opacity;
                oldImage.style.opacity = 1 - opacity;

                if (opacity >= 1) {
                    clearInterval(fadeEffect);
                    oldImage.style.opacity = 1;
                    oldImage.setAttribute('src', newImageSrc);
                }
            }, 40);

            currentIndex = index;
        }

        function nextImage() {
            var nextIndex = (currentIndex + 1) % galleryItems.length;
            showImage(nextIndex);
        }

        setInterval(function() {
            if (autoIndex) {
                nextImage()
            }
        }, 5000);

        for (var i = 0; i < galleryItems.length; i++) {
            galleryItems[i].addEventListener('click', function() {
                var clickedIndex = Array.prototype.indexOf.call(galleryItems, this);
                showImage(clickedIndex);
            });
        }
    </script>
{% endblock %}

{%- block Footer -%}
{{ parent() }}
{% endblock %}