{% extends "Base.twig" %}

{%- block Header -%}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <style>
        .modal a.close-modal {
            display: none;
        }

        .modal {
            border-radius: 0px;
            padding: 0px;
            border: 5px solid #e1e1e1;
        }
    </style>
{% endblock %}

{%- block Container -%}
    <div class="AdContainer">
        <a href="{{ Ad.ad_target }}">
            <img src="/get-asset/Ads/{{ Ad.ad_file }}" class="Ad">
        </a>
        <span class="Caption Right">Advertisement</span>
    </div>
    <div class="LeftSide Feed">
        <h2 class="Bold">Hello, {{ Session.Roblox }}!</h2>
        <hr>
        <img onerror="if (this.src != '/Images/Fallback.png') this.src = '/Images/Fallback.png';" src="/get-asset/Avatars/{{ User.id }}.png" class="ProfilePicture">
        <h3 class="Bold">Crapblox News</h3>
        <hr>
        {% for Article in News %}
            {% if Article.id is defined %}
                <div class="NewsArticle">
                    <img onerror="if (this.src != '/Images/Fallback.png') this.src = '/Images/Fallback.png';" src="/get-asset/Avatars/{{ Article.profile_picture }}.png">
                    <div class="InlineBlock Top NewsDetails">
                        <a href="{{ Article.url }}" class="BlogTitle"><span class="Bold">{{ Article.news_title }}</span></a>
                        <span class="InlineBlock Caption">by {{ Article.news_author }}</span>
                        {% if Article.active == true %}
                            <span class="InlineBlock Middle Right Bold" style="color: darkgreen;">
                                NEW!
                            </span>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
    <div class="CenterSide Feed">
            {% if Relationship|length > 1 %}
                <h2 class="Bold InlineBlock">Friends ({{ Relationship.rows }})</h2>
                <hr>
                <div class="Dividers">
                {% set Friends = 0 %}
                {% for Item in Relationship %}
                    {% if Item.id is defined %}
                        {% if Friends < 5 %}
                            {% set Friends = Friends + 1 %}
                            <a href="/User/{{ Item.roblox_username }}">
                                <div class="ItemPanel Friend">
                                    <img onerror="if (this.src != '/Images/Fallback.png') this.src = '/Images/Fallback.png';" src="/get-asset/Headshots/{{ Item.profile_picture }}.png" class="ItemThumbnail">
                                    <span class="ItemTitle Center Bold">{{ Item.roblox_username }}</span>
                                    {% if Item.active == true %}
                                        <img src="/Images/Silk/bullet_green.png" class="Icon">
                                    {% else %}
                                        <img src="/Images/Silk/bullet_red.png" class="Icon">
                                    {% endif %}
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if Relationship.rows == 0 %}
                <h2 class="Bold InlineBlock">Friends </h2>
                <hr>
                <div class="Dividers">
                <div class="Center" style="height: 142px;">
                    <h2 style="font-size: 31px">&nbsp;</h2>
                    <span class="Caption">
                        <img src="/Images/Shrug.png" style="vertical-align: middle;width: 64px;margin-right: 32px;opacity: 0.6;">
                        You have no friends. Join a game and find some!
                    </span>
                    <h2>&nbsp;</h2>
                </div>
            {% endif %}
            <div id="FriendsMore" class="modal">
                <div style="padding: 1px;background-color: #e1e1e1;">
                    <h2 class="Bold Center">Your Friends</h2>
                </div>
                <div style="padding: 14px;">
                    {% for Item in Relationship %}
                        {% if Item.id is defined %}
                            <a href="/User/{{ Item.roblox_username }}">
                                <div class="ItemPanel Friend" style="    width: 91px;    margin-right: 7px;">
                                    <img onerror="if (this.src != '/Images/Fallback.png') this.src = '/Images/Fallback.png';" src="/get-asset/Avatars/{{ Item.profile_picture }}.png" class="ItemThumbnail" style="    width: 91px;height: 91px;">
                                    <span class="ItemTitle Center Bold">{{ Item.roblox_username }}</span>
                                    {% if Item.active == true %}
                                        <img src="/Images/Silk/bullet_green.png" style="/* filter:invert(1); */" class="Icon">
                                    {% else %}
                                        <img src="/Images/Silk/bullet_red.png" style="/* filter:invert(1); */" class="Icon">
                                    {% endif %}
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if Favorites|length > 1 %}
                <br><br>
                <h2 class="Bold">Favorites</h2>
                <hr>
                {% for Game in Favorites %}
                    {% if Game.id is defined %}
                        <a href="/Game/{{ Game.id }}">
                            <div class="GamePanel RecentlyPlayed">
                                <img src="/get-asset/Games/{% if Game.use_thumbnail == 'n' %}Default.png{% else %}{{ Game.id }}.png{% endif %}" class="GameThumbnail">
                                <span class="GameTitle">{{ Game.server_title }}</span>
                                <span class="GamePlayers">{% if Game.active == true %}{{ Game.server_players }}{% else %}0{% endif %} Players Online</span>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if Favorites|length == 0 %}
                <br><br>
                <h2 class="Bold">Favorites</h2>
                <hr>
                <div class="Center" style="height: 165px;">
                    <h2 style="font-size: 31px">&nbsp;</h2>
                    <span class="Caption">
                        <img src="/Images/Gaming.png" style="vertical-align: middle;width: 64px;margin-right: 32px;opacity: 0.6;">
                        You have no favorited games. Favorite some!
                    </span><br>
                </div>
            {% endif %}
            <h2 class="Bold">Feed</h2>
            <hr>
            <form class="FeedForm" action="/API/Feed/New" method="POST">
                <textarea type="text" name="comment" class="InputText InlineBlock"></textarea>
                <input type="submit" class="SubmitButton Grey" value="Submit">
            </form>
            {% for Comment in Comments %}
                {% if Comment.id is defined %}
                    <div class="Comment" id="Comment{{ Comment.id }}">
                        <img onerror="if (this.src != '/Images/Fallback.png') this.src = '/Images/Fallback.png';" src="/get-asset/Avatars/{{ Comment.author_id }}.png" class="CommentAuthor">
                        <div class="CommentContents InlineBlock Top">
                            <a href="/User/{{ Comment.comment_author }}" class="AuthorLink">{{ Comment.comment_author }}</a>
                            <p>
                                {{ Comment.comment_text|trim|nl2br }}
                            </p>
                            <span class="Caption">{{ Comment.comment_sent|timeago }}</span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="RightSide Feed">
        <h2 class="Bold">Recommended Games</h2>
        <hr>
        <div class="RecentlyPlayed">
            {% for Game in Recommended   %}
                {% if Game.id is defined %}
                    <a href="/Game/{{ Game.id }}" class="recent-place-container">
                        <img style="" src="/get-asset/Games/{% if Game.use_thumbnail == 'n' %}Default.png{% else %}{{ Game.id }}.png{% endif %}" class="recent-place-thumbnail">
                        <div class="recent-games-info">
                            <b>{{ Game.server_title }}</b>
                            <span class="recent-games-player-count">{% if Game.active == true %}{{ Game.server_players }}{% else %}0{% endif %} players</span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="Bold">Recently Played</h2>
        <hr>
        <div class="RecentlyPlayed">
            {% for Game in Games %}
                {% if Game.id is defined %}
                    <a href="/Game/{{ Game.id }}" class="recent-place-container">
                        <img style="" src="/get-asset/Games/{% if Game.use_thumbnail == 'n' %}Default.png{% else %}{{ Game.id }}.png{% endif %}" class="recent-place-thumbnail">
                        <div class="recent-games-info">
                            <b>{{ Game.server_title }}</b>
                            <span class="recent-games-player-count">{% if Game.active == true %}{{ Game.server_players }}{% else %}0{% endif %} players</span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            {% if Games|length == 0 %}
            <div style="height: 142px;">
                <span class="Caption">
                    You haven't played any games recently.
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <style>
        .RightSide.Feed {
            float: right;
            width: calc(21% - 20px);
        }

        form.FeedForm textarea {
            resize: none;
            width: 89%;
            vertical-align: top;
            height: 44px;
        }

        h2 {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .ItemPanel.Friend {
            width: 101px;
            height: 130px;
        }

        .Friend .ItemThumbnail {
            width: 111px;
            height: 111px;
            position: relative;
            right: 5px;
            bottom: 5px;
            border-bottom: 1px solid #ccc;
        }

        .Friend .Icon {
            position: relative;
            bottom: 50px;
            left: 84px;
            width: 25px;
            image-rendering: pixelated;
        }

        .RecentlyPlayed {
            padding: 5px;
            margin-right: 10px;
        }

        .GamePanel {
            width: 130px;
            display: inline-block;
            padding: 5px;
            box-shadow: inset 0px 0px 0px rgb(255 255 255 / 50%), 0px 0px 3px 0px rgb(0 0 0 / 10%);
            border: 1px solid #ccc;
            margin-top: 6px;
            color: #9d0091;
            line-height: 16px;
            margin-right: 11px;
            transition: background-color .2s ease-in-out;

            position: relative;
            height: 110px;
        }

        .GameThumbnail {
            width: 129px;
            height: 75px;
        }

        .GamePanel:hover {
            background-color: whitesmoke;
            height: 140px;
        }

        .BlogTitle {
            font-size: 13px;
        }

        .ItemPanel {
            width: 124px;
            display: inline-block;
            padding: 5px;
            box-shadow: inset 0px 0px 0px rgb(255 255 255 / 50%), 0px 0px 3px 0px rgb(0 0 0 / 10%);
            border: 1px solid #ccc;
            margin-top: 6px;
            color: #9d0091;
            line-height: 16px;
            margin-right: 8px;
            transition: background-color .2s ease-in-out;

            position: relative;
            height: 180px;
            vertical-align: top;
            margin-bottom: 5px;
        }

        form.FeedForm input[type="submit"] {
            height: 50px;
            width: 56px;
        }
    </style>
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function dropdown() {
            document.getElementById("editDropdown").classList.toggle("show");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function viewMoreOutfit() {
            $('#FriendsMore').modal();
        }
    </script>
{% endblock %}

{%- block Footer -%}
{{ parent() }}
{% endblock %}
